.hai:link {
    color: darkred;
}
.hai:hover {
    color: black;
    font-size: 20px;
}
.hai:active {
    font-style: italic;
}
li:first-child a {
    color: red;
}
li:last-child a {
    color: chartreuse;
}
li:nth-last-child(6) a:hover {
    color: yellow;
}
p:first-of-type {
    color: blueviolet;
}
p:last-of-type {
    color: darkgreen;
}